.apStock1{
		   -fx-background-color: #1261B7;
	
}

.apStock2{
		   -fx-background-color: #5e0d0d;
	
}

.pie{
		   -fx-background-color: #e8d102;
	
}

.sec{
			   -fx-min-width: 200;
			   -fx-padding: 3;
			   -fx-border-color: black;
			    -fx-border-width: 5px 3px 5px 3px;
				-fx-border-style: solid;
	
}
.position{
	
	-fx-text-align: center;
	
}
 #fpSector{
		   -fx-border-color:  #e8d102;
	
}

#tvStock{
			   -fx-background-color: #ffffff;
	
}

#btnSearch{
		   -fx-border-color:  #e8d102;
		   -fx-background-color: black;
		   
	
}


.name {
   -fx-text-fill: #e8d102; 
   
}

